build
.DS_Store
phpunit.local.xml
*.log
.phpunit.result.cache

# IDE
.vscode
.idea
.project
.settings
.buildpath
atlassian-ide-plugin.xml
*.bak

# Composer
vendor
composer.lock
composer.phar
tools/vendor
tools/composer.lock

# Project
var
.php-cs-fixer.cache
test.php
bck
sdk-test-config.ini
sample/config.ini
config.env
sample/config.env

# Groc
node_modules
