build
.DS_Store
phpunit.local.xml
*.log

# IDE
.vscode
.idea
.project
.settings
.buildpath
atlassian-ide-plugin.xml
*.bak

# Composer
vendor
composer.lock
composer.phar

# Project
var
tools
.php-cs-fixer.cache
test.php
bck

# Groc
node_modules
